<div class="container">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <div class="py-4 px-3">
            <h2>Cadastro É-massa</h2>
            <h5>Inscreva-se e fique por dentro de todas as promoções!</h5>
            <div class="row g-2 mt-1">
              <div class="col-md-6">
                <div class="input-field">
                  <input class="form-control" id="input1" required />
                  <label for="input1"> Primeiro Nome</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-field">
                  <input class="form-control" id="input2" required />
                  <label for="input2">Sobrenome</label>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="input-field">
                  <input type='date'class="form-control" id="input3" required />
                  <label for="input3">Data de nascimento</label>
                </div>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-md-12">
                <div class="input-field">
                  <input class="form-control" id="input4" required />
                  <label for="input4">Whatsapp</label>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <button class="btn btn-primary w-100 signup-button">
                  Cadastrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-side-content">
            <div class="logo">
                <img src="../../assets/img/logo.png" alt="logo">
            </div>

          <div class="mascote">
            <img src="../../assets/img/mascote.png" alt="mascote">
        </div>  
        </div>
      </div>
    </div>
  </div>
 
