<nav class="navbar navbar-expand-lg navbar-light bkg-nav">
  <a class="navbar-brand" href="#"
    ><img src="../../assets/img/logo.png" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"
          >Inicio <span class="sr-only"></span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Promoções</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Pesquise pão, salgado, pizza ou afins."
            aria-label="Search"
          />
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button> -->
        </form>
      </li>
    </ul>
    <!-- <div class="logado">
      <span>Seja bem vindo</span>
      <span class="usuario">Renan</span>
    </div> -->
  </div>
</nav>

<div class="promocoes">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <span class="anuncio">
          Mega promoção relâmpago da semana! Aproveite agora mesmo!</span
        >
      </div>
      <div class="com-md-6 col-sm-6">
        <span class="promo-app">PROMOÇÃO VÁLIDA APENAS NO APP</span>
      </div>
    </div>
  </div>
</div>
