<footer class="sec-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="mascote-footer">
          <img src="../../assets/img/mascote-footer.png" alt="mascote-footer" />
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="redes-sociais">
          <h2>Nossas Redes!</h2>
          <br />
          <div class="insta">
            <img src="../../assets/svg/instagram.svg" alt="instagram" />
            <span class="subtitle"
              ><a class="link" href="https://www.instagram.com/emassa.oficial/"
                >emassa.oficial</a
              ></span
            >
          </div>
          <br />
          <div class="face">
            <img src="../../assets/svg/facebook.svg" alt="facebook" />
            <span class="subtitle">emassa.oficial</span>
          </div>
          <br />
          <div class="whats">
            <img src="../../assets/svg/whatsapp.svg" alt="whatsapp" />
            <span class="subtitle">(71)3190-1305</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-6">
        <div class="contato">
          <h2>Entre em contato conosco!</h2>
          <div class="telefone">
            <img src="../../assets/svg/phone.svg" alt="whatsapp" />
            <span class="subtitle">(71)3190-1305</span>
          </div>
          <div class="email">
            <img src="../../assets/svg/mail.svg" alt="whatsapp" />
            <span class="subtitle">comercial@e-massa.online</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
